HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


# 보안 파일
secret.properties
.env

# 로그
*.log

# 빌드 결과물
/build/
/test-output/
/target/
/*.jar
/*.war

# 캐시/임시
.gradle/
*.tmp
*~

# 기타 (이미 포함된 것과 병합 정리 가능)
.idea/
*.iml

