@charset "UTF-8";

.layout {
	display: flex;
	height: 100vh;
}

#whiteboard-mode {
	display: flex;
	height: 100vh; /* 또는 필요한 만큼의 높이 */
}

.left-section {
	height: 100vh;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.right-section {
	width: 250px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #f5f5f5;
	box-sizing: border-box;
	padding: 10px;
}

.whiteboard {
	flex: 3;
	background: #fff;
	padding: 20px;
}

.tools {
	flex: 1;
	background: #ccc;
	align-items: center;
	justify-content: center;
	margin: 20px;
}

#videoremote1 {
	flex: 2;
	background: black;
	color: white;
}

.controls {
	flex: 1;
	display: flex;
	flex-direction: column;
	background: #eee;
}

.controls > button {
	margin-bottom: 10px;
}


.bottom-section {
	display: flex;
	flex: 1;
}

#videolocal {
	flex: 1;
	background: black;
}

.whiteboard canvas {
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
}