<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.CounselorMapper">

	<!-- 상담사 로그인 -->
	<select id="loginCounselor"
		parameterType="com.example.demo.model.Counselor"
		resultType="com.example.demo.model.Counselor">
		SELECT *
		FROM counselor
		WHERE counselor_id = #{counselorId}
		AND password = #{password}
	</select>

	<!-- 오늘 예약건수 -->
	<select id="countTodayReservations" resultType="int">
		SELECT COUNT(*)
		FROM counsel_reservation r
		JOIN counsel_available a ON r.counsel_no =
		a.counsel_no
		WHERE a.counselor_id = #{counselorId}
		AND DATE(r.reg_date)
		= CURDATE()
	</select>

	<!-- 상담 가능 시간 등록 -->
	<insert id="insertAvailableTime">
		INSERT INTO counsel_available (counselor_id, start)
		VALUES (#{counselorId}, #{start})
	</insert>

	<!-- 예약 가능 시간 삭제 (선택 날짜 전체 삭제) -->
	<delete id="deleteAvailableTimesByTimes">
		DELETE FROM counsel_available
		WHERE counselor_id = #{counselorId}
		AND
		DATE(start) = #{selectedDate}
		AND DATE_FORMAT(start, '%H:%i') IN
		<foreach collection="times" item="time" open="(" separator=","
			close=")">
			#{time}
		</foreach>
	</delete>

	<delete id="deleteAvailableTimesByIds">
		DELETE FROM counsel_available
		WHERE counsel_no IN
		<foreach collection="counselNos" item="id" open="("
			separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<!-- 상담사 예약 가능 시간 전체 조회 -->
	<select id="findAvailableTimesByCounselorId"
		resultType="com.example.demo.model.CounselAvailable">
		SELECT counsel_no, counselor_id, start
		FROM
		counsel_available
		WHERE counselor_id = #{counselorId}
		ORDER BY start ASC
	</select>

	<select id="findAvailableTimesByDate"
		resultType="com.example.demo.model.CounselAvailable">
		SELECT
		counsel_no AS counselNo,
		counselor_id AS counselorId,
		start
		FROM counsel_available
		WHERE counselor_id = #{counselorId}
		AND
		DATE(start) = #{selectedDate}
	</select>


	<!-- 예약현황 (날짜별 예약 건수) -->
	<select id="countReservationsByDate" resultType="map">
		SELECT
		DATE(reg_date) AS date,
		COUNT(*) AS count
		FROM counsel_reservation
		WHERE state != '취소'
		GROUP BY DATE(reg_date)
	</select>

</mapper>
