<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.CounselorMapper">

	<!-- 상담사 로그인 -->
	<select id="loginCounselor"
		parameterType="com.example.demo.model.Counselor"
		resultType="com.example.demo.model.Counselor">
		SELECT *
		FROM counselor
		WHERE counselor_id = #{counselorId}
		AND password = #{password}
	</select>

	<!-- 오늘 예약건수 조회 -->
	<select id="countTodayReservations" resultType="int">
		SELECT COUNT(*)
		FROM counsel_reservation r
		JOIN counsel_available a ON r.counsel_no =
		a.counsel_no
		WHERE a.counselor_id = #{counselorId}
		AND DATE(r.reg_date)
		= CURDATE()
	</select>


	<!-- 상담 가능 시간 등록 -->
	<!-- 상담 가능 시간 등록 -->
	<insert id="insertAvailableTime">
		INSERT INTO counsel_available (counselor_id, start)
		VALUES (#{counselorId}, #{start})
	</insert>


	<!-- 상담사 예약 가능 시간 목록 조회 -->
	<select id="findAvailableTimesByCounselorId"
		resultType="com.example.demo.model.CounselAvailable">
		SELECT counsel_no, counselor_id, start
		FROM
		counsel_available
		WHERE counselor_id = #{counselorId}
		ORDER BY start ASC
	</select>

	<!-- 시간저장 -->
	<insert id="insertAvailableTimeWithDateTime">
		INSERT INTO counsel_available (counselor_id, start)
		VALUES (#{counselorId}, #{start})
	</insert>

	<!-- 예약 가능 시간 삭제 -->
	<delete id="deleteAvailableTimesByTimes">
		DELETE FROM counsel_available
		WHERE counselor_id = #{counselorId}
		AND
		DATE_FORMAT(start, '%Y-%m-%d %H:%i') IN
		<foreach item="time" collection="times" open="(" separator=","
			close=")">
			#{time}
		</foreach>
	</delete>

	<!-- 예약현황 -->
	<select id="countReservationsByDate" resultType="map">
		SELECT DATE_FORMAT(reg_date, '%Y-%m-%d') AS date,
		COUNT(*) AS count
		FROM counsel_reservation
		WHERE counselor_id = #{counselorId}
		GROUP BY DATE_FORMAT(reg_date, '%Y-%m-%d')
	</select>





</mapper>
