<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.PharmFavoriteMapper">

  <insert id="insertFavorite">
    INSERT INTO pharm_favorite (client_id, pharm_id)
    VALUES (#{clientId}, #{pharmId})
  </insert>

  <delete id="deleteFavorite">
    DELETE FROM pharm_favorite
    WHERE client_id = #{clientId} AND pharm_id = #{pharmId}
  </delete>

  <select id="isFavorited" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM pharm_favorite
    WHERE client_id = #{clientId} AND pharm_id = #{pharmId}
  </select>

</mapper>
