<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.RoomMapper">
	<select id="findByToken" parameterType="String" resultType="room">
		SELECT * FROM room WHERE room_token=#{token}
	</select>
	
	<insert id="uploadRec" parameterType="rec">
		INSERT INTO room_rec (name, room_id, reg_date) values(#{name}, #{roomId}, CURRENT_TIMESTAMP)
	</insert>
</mapper>